
div.board-header
  if hasLeft
    a.left(href="#") ←
  if hasRight
    a.right(href="#") →
  p.center #{name}
  

form.new-task
  input(type="text" name="name" placeholder="Create task")
  hr

ul
  each tasks
    li.task
      +task