html
	height 100%
	
body 
  background-image: url('https://d2hkcehpyog59.cloudfront.net/566ab97d187c40e3aa8da7550d84fc9e613d796a/images/backgrounds/2048/01.jpg')
  background-size: cover
  
.board
  

.board-header
	margin 0 auto

.task
	list-style-type none
	margin 1rem 0

