#boards
  margin 0 !important
  -ms-flex-align start
  -moz-box-align start
  -webkit-box-align start
  -webkit-align-items flex-start
  align-items flex-start
  display -moz-box
  display -ms-flexbox
  display -webkit-box
  display -webkit-flex
  display flex
  -moz-box-orient horizontal
  -webkit-box-orient horizontal
  -ms-flex-direction row
  -webkit-flex-direction row
  flex-direction row
  margin-bottom 10px
  overflow-x auto
  overflow-y hidden
  padding-bottom 10px
  position absolute
  top 4rem
  right 0
  bottom 0
  left 0


.board
  height 100%
  border-radius 3px
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  display -moz-box
  display -ms-flexbox
  display -webkit-box
  display -webkit-flex
  display flex
  -moz-box-orient vertical
  -webkit-box-orient vertical
  -ms-flex-direction column
  -webkit-flex-direction column
  flex-direction column
  -moz-box-flex 0
  -webkit-box-flex 0
  -ms-flex 0 0 20%
  -webkit-flex 0 0 20%
  flex 0 0 20%
  margin 0 0.5rem
  max-height 100%
  padding 0.5rem
  position relative
  -webkit-transform translate3d(0,0,0)
  width 20%
